

/** Police GENERAL */
*{
    font-family: "Raleway", sans-serif;
}

h1{
    color: #0c2e8a;
}

span{
    color: #50d8af;
}



/**Partie Nav dans le header**/















/**Partie slider interactif**/












/**Parti Main**/










/**Partie article dans mon main**/










/**Partie article dans mon main**/











/**Partie article dans mon main**/













/**Partie appel à l'action**/



















/**Partie form **/















/**Partie Footer**/
